# XCP-ng Host
HOST_USERNAME=root
HOST_PASSWORD=
HOST_IP=192.168.x.x
ISO_SR_NAME=ISOs
ISO_SR_LOCATION=/media/

# XOA
XOA_VM_IP=192.168.x.x
XOA_LOGIN_USERNAME=admin@admin.net
XOA_LOGIN_PASSWORD=admin

# SSH
SSH_OPTS="-o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no -o LogLevel=ERROR"